{% extends "index.html" %}
{% block body %}
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Task Description</th>
                <th>Deadline</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for id, td_text, deadline in tasks%}
            <tr>
                <td>{{td_text}}</td>
                <td>{{deadline}}</td>
                <td> <a href="{{url_for('todolist.delete_task',tid=id)}}" class="btn btn-danger">Delete</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}