{% extends "index.html" %}
{% block body %}
    {% if not tasks%}
        There are no tasks scheduled within a week. Click <a href="{{url_for('todolist.task_list')}}">here</a> for all the tasks.
    {% else %}
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Task Description</th>
                <th>Deadline</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for id, td_text, deadline in tasks%}
            <tr>
                <td>{{td_text}}</td>
                <td>{{deadline}}</td>
                <td> <a href="{{url_for('todolist.delete_task',value='week',tid=id)}}" class="btn btn-danger" role="button">Delete</a> </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}